.example-container{
    height:  stretch;
}

mat-sidenav{
    background-color: #353535
}

.barraTop{
    background-color: #353535;
}

.toggleMenu{
    background-color: #353535;
    padding: 10px;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }